.container{

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        font-weight: lighter;
    }

    & > img{
        width: 50%;
        margin-bottom: 30px;
    }

}

@media (max-width: 500px) {
    .container > h2{
        font-size: 15px;
    }
}