@import '../../sass/variables.scss';

a {
    text-decoration: none;
    color: color("primary");
}

%containerDad {
    background-color: color("foreground");
    padding: 10px;
    width: 40%;
    margin-left: 30%;
    border: 1px solid rgba(255, 255, 255,.25);
}

.container{
    @extend %containerDad;
    padding-bottom: 30px;
    margin-top: 15vh;

    & > header{
        text-align: center;
    }
}

.loginForm{
    display: flex;
    flex-direction: column;
    
    margin: 0 auto;
    width: 90%;
    & > input, button{
        font-size: 15px;
        padding: 15px 10px;
        margin: 10px 0;
        background-color: color("background");
        color: color("text");
        outline: none;
        border: none;
    }

    
}

.loginBtn{
    background-color: darken($color: color("primary"), $amount: 20) !important;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.options {
    display: flex;
    justify-content: space-between;
}

.container2{
    @extend %containerDad;
    margin-top: 20px;
}

.sign_up_msg {
    text-align: center;
}