@import './card_info_small.module.scss';

.container > div, .back > span > div {
    background-color: rgba(light_color("text"), .1);

    &:hover{
        background-color: rgba(light_color("text"), .05);
    }
}

.playing{
    background-color: lighten($color: color("primary"), $amount: 20) !important;
}