@import "../../sass/variables.scss";

.view_cards_button{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(color("text"), .1);
    border-radius: 10px;
    margin: 10px;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border: none;
    

    &:hover{
        background-color: rgba(color("text"), .2);
    }
}

.view_cards_container{
    background-color: color("foreground");
    height: 100%;
    padding: 20px;
    overflow: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    
    & > div{
        border-bottom: 2px solid color("primary");
        display: flex;
        align-items: center;
        overflow: hidden;
        justify-content: space-between;
        & > div{
            display: flex;
            margin-left: 100px;
        }
    }
}

.rows{
    display: flex;
}