@import "../../sass/variables.scss";

.view_cards_button{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(color("text"), .1);
    border-radius: 10px;
    margin: 10px;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border: none;
    

    &:hover{
        background-color: rgba(color("text"), .2);
    }
}

.view_cards_container{
    background-color: color("foreground");
    height: 100%;
    padding: 20px;
    overflow: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    
    & > div{
        border-bottom: 2px solid color("primary");
        display: flex;
        align-items: center;
        overflow: hidden;
        justify-content: space-between;
        & > div{
            display: flex;
            margin-left: 100px;
        }
    }
}

.rows{
    display: flex;
}

.title{
    border-bottom: 2px solid color("primary");
    display: flex;
    justify-content: center;
    align-items: center;

    & > i{
        display: none;
        font-size: 25px;
        &:active{
            color: red;
        }
    }

    & > h2{
        font-weight: lighter;
        text-align: center;
    }
}

@media (max-width: 1200px) {
    .view_cards_container > div > div{
        margin-left: 0px;
    }
}

@media (max-width: 700px) {

    .title{
        justify-content: space-between;
        & > i{
            display: block;
        }
    }
}


@media (max-width: 850px) {

    .view_cards_container > div{
        flex-direction: column;
        padding-bottom: 25px;
    }
}