@import './deck_item.module.scss';


.groupItem > div > h4{
    color: invert(light_color("text"));
}

.menu{
    & > .options{
        & > div{
            background-color: light_color("background");
        }
    }

    & > ul{
        background-color: light_color("background");
        & > li{
            color: light_color("text");
            &:hover{
                background-color: lighten($color: light_color("text"), $amount: 80);
            }
        }
    }
}


.menuList{
    background-color: rgba(0, 0, 0, .3);

    & > ul {
        background-color: light_color("text");
        background-color: light_color("foreground");
    
        & > li{
            color: light_color("text");
            &:hover{
                color: light_color("foreground");
                background-color: lighten($color: light_color("text"), $amount: 30);
            }
        }
    }
}
