.container{

    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > h2{
        font-weight: lighter;
    }

    & > img{
        width: 500px;
    }
}